<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Discovery</title>
</head>
<body>
    <h1>Descubrimiento inicial</h1>
    <main>
        <section>
            <article>
                <h2>Dispositivos de red</h2>
                <table border="1">
                    <thead>
                        <tr>
                            <th>Tipo de dispositivo</th>
                            <th>Nombre de dispositivo</th>
                            <th>Dirección IP</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dispositivo in dispositivos %}
                        <tr>
                            <td class="device-name">
                                <img
                                  class="device-icon"
                                  src="{{ url_for('static', filename='assets/' ~ 
                                       (dispositivo.tipo == 'switch' ? 'sw.png' : 'rt.png')) }}"
                                  alt="{{ dispositivo.tipo }}"
                                >
                                {{ dispositivo.nombre }}
                              </td>
                            <td>{{ dispositivo.tipo }}</td>
                            
                            <td>{{ dispositivo.ip }}</td>
                            <td>{{ dispositivo.estado }}</td>
                            <td>
                              <a href="{{ url_for('main_views.control_center_index', device_id=dispositivo.id) }}">Consola</a>
                            </td>
                          </tr>
                          
                        {% endfor %}
                    </tbody>
                </table>
            </article>
        </section>
    </main>
</body>
</html>
