<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Network Supervisor</title>
</head>
<body>
    <h1>
        Bienvenido(a)
    </h1>
    <main>
        <section>
            <article>
                <p>
                    Este sistema le permitirá supervisar los dispositivos de su red (switches, routers) y el estado de sus conexiones, 
                    administrar los distintos nodos, el estado de sus conexiones y verificar y crear registros de movimientos.
                </p>
                <a href="">
                    <button>Comenzar</button>
                </a>
            </article>
        </section>
    </main>
    <footer>
        <p>
            FNADE - 2025
        </p>
    </footer>
</body>
</html>